@model LoginViewModel
@{
    Layout = "_layout2";
    ViewData["Title"] = "Reset Password";
}

<div class="login-container">
   
    <div class="logo">
        
            <img src="/thinking-face.png" />
       
        <h1 style="font-size:30px;"> Forgot Your Password?</h1>
    </div>
    <p class="text-center">
        We can send reset instructions to the email associated with your account.
    </p>

    <form asp-action="Reset" method="post">

        <div class="mb-3">

            <input asp-for="Email" class="form-control" placeholder="Email Address">
            <span asp-validation-for="Email" class="text-danger"></span>
            <br />
            
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-outline-dark mb-2">Send Reset Instructions -></button>
            <br />
        </div>
    </form>

 
</div>

@section Scripts {
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}