@model Category
@{
    ViewData["Title"] = "Create Category";
    Layout = "AdminLayout";
}


<br />
<br />
<br />
<h2 class="text-center my-4">Create Category</h2>

<div class="container p-4 border rounded shadow-sm bg-light">
    <form asp-action="Create" method="post">
        <div class="form-group mb-3">
            <label asp-for="Name" class="form-label fw-bold"></label>
            <input asp-for="Name" class="form-control" placeholder="Enter category name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Description" class="form-label fw-bold"></label>
            <textarea asp-for="Description" class="form-control" placeholder="Enter category description" rows="4" maxlength="100"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg px-4">Create</button>
            <a asp-action="Index" class="btn btn-secondary btn-lg px-4 ms-2">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
