@model User
@{
    ViewBag.Title = "Manage Roles";
    Layout = "AdminLayout";
}

<br />
<br />
<br />
<div class="container border rounded p-4 shadow-sm bg-light">
    <div class="text-center mb-4">
        <h1 >Manage Roles</h1>
    </div>

    <form asp-action="ManageRoles" asp-route-id="@Model.Id" method="post" class="row g-3">
        @foreach (var role in ViewBag.roles)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="SelectedRoles" value="@role.Id" id="check_@role.Id" @(Model.UserRoles.Any(ur => ur.RoleId == role.Id) ? "checked" : "")>
                <label class="form-check-label" for="check_@role.Id">
                    @role.Name
                </label>
            </div>
        }

        <div class="col-12 text-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg m-2">Save</button>
            <a asp-action="Index" class="btn btn-danger btn-lg m-2">Cancel</a>
        </div>
    </form>
</div>
