@model Product

@{
    ViewData["Title"] = "Edit Product";
    Layout = "AdminLayout";
}

<link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<h2 style="color: #b32400 ; padding: 10px">Edit Product</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="form-label text-black"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="form-label text-black"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="form-label text-black"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StockQuantity" class="form-label text-black"></label>
        <input asp-for="StockQuantity" class="form-control" />
        <span asp-validation-for="StockQuantity" class="text-danger"></span>
    </div>

@*     <div class="form-group">
        <label asp-for="ImageFileName" class=" form-label text-black"></label>
        <input asp-for="ImageFileName" class="form-control" />
        <span asp-validation-for="ImageFileName" class="text-danger"></span>
    </div> *@
    <div class="row mb-3">
        <div class="col">
            <label asp-for="ProductImage" class="form-label">Product Image</label>
            <input type="file" asp-for="ProductImage" class="form-control">
            <span asp-validation-for="ProductImage" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="ImageFileName" value="@Model.ImageFileName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="CategoryID" class="form-label text-black">Category</label>
        <select asp-for="CategoryID" asp-items="ViewBag.Categories" class="form-control"></select>
        <span asp-validation-for="CategoryID" class="text-danger"></span>
    </div>
    <br />
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-sm btn-danger">Save Changes</button>
    <a asp-action="AdminIndex" class="btn btn-sm btn-secondary">Cancel</a>
</form>

@section Scripts {
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}


