@model Product

@{
    ViewData["Title"] = "Edit Product";
    Layout = "AdminLayout";
}
<h2 class="mb-4">Products / Edit</h2>

<div class="container mt-5">
    <div class="row">
        <!-- Profile Image Section -->

        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Product Image</h5>

                    <img src="/productImages/@Model.ImageFileName" class="img-thumbnail" alt="Product Image" style="width: 350px; height: 450px;">
                 
                </div>
            </div>
        </div>

        <!-- product Details Section -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Product Details</h5>
                    <form asp-action="Edit" method="post" enctype="multipart/form-data" >

                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ImageFileName" value="@Model.ImageFileName" />
                        <div class="form-group mb-3">
                            <label asp-for="Name" class="form-label text-black fw-bold"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Description" class="form-label text-black fw-bold"></label>
                            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Price" class="form-label text-black fw-bold"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="StockQuantity" class="form-label text-black fw-bold"></label>
                            <input asp-for="StockQuantity" class="form-control" />
                            <span asp-validation-for="StockQuantity" class="text-danger"></span>
                        </div>



                        <!-- Section to Upload New Image -->
                        <div class="form-group mb-3">
                            <label asp-for="ProductImage" class="form-label fw-bold">Change Product Image</label>
                            <input type="file" asp-for="ProductImage" class="form-control" />
                            <span asp-validation-for="ProductImage" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-lg-2">
                            <label asp-for="CategoryID" class="form-label text-black fw-bold">Category</label>
                            <select asp-for="CategoryID" asp-items="ViewBag.Categories" class="form-select"></select>
                            <span asp-validation-for="CategoryID" class="text-danger"></span>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="text-center form-group mt-lg-2">
                            <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
                            <a asp-action="AdminIndex" class="btn btn-secondary btn-lg">Cancel</a>
                        </div>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}


