
@{
    Layout = "AdminLayout";
    ViewBag.Title = "Admin Dashboard";

}



  
            <!-- Dashboard Heading -->
            <h2 class="mb-4">Dashboard</h2>

            <!-- Stats Section -->
            <div class="row">
                <div class="col-md-3">
                    <div class="card text-white bg-primary">
                        <div class="card-body">
                            <h5 class="card-title">Total Sales</h5>
                             <p class="card-text">@ViewBag.TotalSales.ToString("C")</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-white bg-success">
                        <div class="card-body">
                            <h5 class="card-title">Total Orders</h5>
                            <p class="card-text">@ViewBag.NoOfOrders</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title">Number Of Customers</h5>
                              <p class="card-text">@ViewBag.NoOfCustomers</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-danger">
                        <div class="card-body">
                            <h5 class="card-title">Pending Orders</h5>
                              <p class="card-text">@ViewBag.PendingOrders</p>
                        </div>
                    </div>
                </div>
            </div>

         