@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="hero-content">
        <br />
        <br />
        <h1>Discover And Find<br /> Your New Product</h1>
     
        <form asp-controller="product" asp-action="UserIndex">
            <div>

                <button type="submit" class="btn  btn-outline-light mb-5 w-50 "><i class="fa-solid fa-shop"></i>&nbsp;&nbsp;&nbsp;Shop Now</button>
            </div>

        </form>
    </div>
</section>




