@model IQueryable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="hero-content">
      <br>
        <h1 style="letter-spacing:1px;">Discover And Find<br /><span style="display:inline-block; margin-top:10px;">Your New Product</span> </h1>
     
        <form asp-controller="product" asp-action="UserIndex">
            <div>

                <button type="submit" class="btn  btn-outline-light mb-1 w-50 " 
                style="font-size:1.1em; font-weight:600; padding:0.7375em 1.1875em;letter-spacing:1px;border:2px solid white;"><i class="fa-solid fa-shop"></i>&nbsp;&nbsp;&nbsp;Shop Now</button>
            </div>

        </form>
    </div>
</section>

<partial name="_NewArrival" model="Model"  />
@section Scripts {

    <script>
        $(document).ready(function () {
            $('.toggle-wishlist').on('click', function () {
                var productId = $(this).data('product-id');
                var icon = $('#wishlist-icon-' + productId);

                $.ajax({
                    url: '@Url.Action("ToggleWishlist", "WishList")',
                    type: 'POST',
                    data: { productId: productId },
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        if (response.isInWishlist) {
                            icon.removeClass('fa-regular').addClass('fa-solid');
                            icon.css('color', '#ff6161');  // Red color for heart
                        } else {
                            icon.removeClass('fa-solid').addClass('fa-regular');
                            icon.css('color', '#23533c');  // Reset to default
                        }
                    },
                    error: function () {
                        alert('Error toggling wishlist!');
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(document).on('click', '.add-to-cart', function () {
                var productId = $(this).data('product-id');
                var quantity = $(this).data('quantity');

                $.ajax({
                    url: '/Cart/AddToCart',
                    type: 'POST',
                    data: {
                        productId: productId,
                        quantity: quantity
                    },
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        if (response.isInCart) {
                            var messageDiv = $('#cart-message');
                            messageDiv.slideDown();
                            setTimeout(function () {
                                messageDiv.slideUp();
                            }, 3000);
                        } else {
                            alert('Failed to add product to cart.');
                        }
                    },
                    error: function () {
                        alert('Error while adding product to cart.');
                    }
                });
            });
        });

    </script>

}




