@model Role
@{
    Layout = "AdminLayout";
    ViewBag.Title = "Add Role";
}
<br />
<br />
<br />

<div class="border border-primary rounded p-4">
    <div class="text-center mb-4">
        <h1>Add New Role</h1>
    </div>

    <form asp-action="Create" method="post" class="row g-3">
        <div class="col-md-6 mx-auto">
            @* <label asp-for="Name" class="form-label">Role Name</label> *@
            <input asp-for="Name" class="form-control" placeholder="Enter role name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="col-12 text-center mt-4">
            <button type="submit" class="btn btn-primary m-2">Add</button>
            <a asp-action="Index" class="btn btn-danger m-2">Cancel</a>
        </div>
    </form>
</div>

    @section Scripts {

    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}

