@model IQueryable<Role>
@{
    ViewBag.Title = "Roles List";
    Layout = "AdminLayout";
}

<h2 class="mb-4">Roles</h2>

<partial name="_AddRole" model="new Role()"/>

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center"> Name</th>
            <th class="text-center">Actions</th>
           
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="6" class="text-center alert alert-warning">No Roles Exist! <img src="thinking-face.png" /></td>
            </tr>
        }
        @foreach (var role in Model)
        {
            <tr>
                <td class="text-center">@role.Id</td>
                <td class ="text-center">@role.Name</td>
                <td class="text-center">

                    <a href="javascript:void(0)" class="btn btn-danger" onclick="confirmDelete('@role.Id', '@Url.Action("Delete", new { id = role.Id })')">
                        <i class="fas fa-trash-alt"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        // Function to handle delete confirmation with SweetAlert
        function confirmDelete(userId, deleteUrl) {
            Swal.fire({
                title: "Delete Role",
                text: "Are you sure about deleting this role ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Delete it",
                cancelButtonText: "Cancel",
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
            }).then((result) => {
                if (result.isConfirmed) {
                    // If confirmed, redirect to the delete action
                    window.location.href = deleteUrl;
                }
            });
        }
    </script>


    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>




}